<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MOTOS CLUB</title>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
	rel="stylesheet">
<link href="../style.css" rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg"
		style="background-color: rgba(60, 62, 68, 0.8);">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <i
				class="fa-solid fa-motorcycle"
				style="font-size: 2rem; color: #ffbd59;" onclick=""></i>
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

	<main id="contenedor">
		<!-- Fondo -->
		<div class="container-fluid p-0">
			<div class="col">
				<div class="row">
					<div class="col-12">
						<!-- Contenedor para la imagen y el texto -->
						<div class="imagen-con-texto">
							<h1 class="numError">
								<b>403 - Acceso Denegado</b>
							</h1>
							<p class="textoError">
								Lo sentimos, pero no tienes permisos para acceder a esta página.
								<br> Si crees que esto es un error, por favor contacta al
								administrador.
							</p>
							<img src="../img/harley-davidson.jpg"
								alt="Imagen de una moto de harley-davidson en blanco y negro"
								class="img-fluid short-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>




	<footer class="bg-dark text-light py-4">
		<div class="container">
			<div class="row align-items-end h-50">
				<!-- Sección de Derechos reservados -->
				<div class="col-md-4">
					<p>Todos los derechos reservados.</p>
					<p>Sobre nosotros: Motos Club es la red social dedicada a los
						apasionados de las motos. Aquí puedes compartir tu amor por las
						dos ruedas, unirte a eventos, descubrir nuevas rutas y conectarte
						con otros motociclistas alrededor del mundo.</p>
				</div>

				<!-- Sección de Contacto -->
				<div class="col-md-3">
					<ul class="list-unstyled">
						<li><strong>Contáctanos:</strong></li>
						<li>Email: contacto@motosclub.com</li>
						<li>Teléfono: +1 800-123-MOTO</li>
					</ul>
				</div>

				<!-- Sección de Redes sociales -->
				<div class="col-md-3">
					<ul class="list-unstyled">
						<li><strong>Síguenos en redes sociales:</strong></li>
						<li><a href="#" class="text-light me-2"><i
								class="bi bi-youtube" style="font-size: 2.0rem; color: #882d29"></i></a>
							<a href="#" class="text-light me-2"><i
								class="bi bi-instagram"
								style="font-size: 1.8rem; color: #ffbd59"></i></a> <a href="#"
							class="text-light me-2"><i class="bi bi-twitter-x"
								style="font-size: 1.8rem; color: #007bff"></i></a></li>
					</ul>
				</div>

				<!-- Sección de Información útil -->
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li><strong>Información útil:</strong></li>
						<li><a href="#" class="text-light">Política de privacidad</a></li>
						<li><a href="#" class="text-light">Términos y condiciones</a></li>
						<li><a href="#" class="text-light">Ayuda y soporte</a></li>
					</ul>
				</div>
			</div>
			<hr class="border-warning">
			<div class="d-flex justify-content-start align-items-center">
				<i class="fa-solid fa-motorcycle"
					style="font-size: 2rem; color: #ffbd59;"></i>
				<p class="mb-0 ms-2">© 2024 Motos Club.</p>
			</div>
		</div>

	</footer>

	<script type="module" src="../js/inicio/main.js"> </script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>
</html>